/detox_train.tsv
/detox_dev.tsv
/2ch.csv
/ok.ft
/persona.tsv
/koziev.txt
/bad_vocab.txt
/seq2seq_gen.jsonl
/seq2seq_gen_train.jsonl
/seq2seq_gen_val.jsonl
/seq2seq_train.jsonl
/seq2seq_united_train.jsonl
/seq2seq_val.jsonl
/clf_all.jsonl
/clf_train.jsonl
/clf_val.jsonl
/clf_test.jsonl
/non_toxic.jsonl
/toxic.jsonl
/neutral.jsonl
/backtrans_toxic2neutral.jsonl
/backtrans_toxic2neutral_ranked.jsonl
/marker_train.jsonl
/marker_val.jsonl
/reverse_neutral2toxic.jsonl
/reverse_neutral2toxic_ranked.jsonl
/reverse_neutral2toxic_final.jsonl
/backtrans_toxic2neutral_final.jsonl
/marker_toxic2neutral.jsonl
/detox_test.tsv
